@charset "utf-8";

body {
	background-image: url(backg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}

#ue_bar {
	height: 28px;
	width: calc(100% - 15px);
	position: fixed;
	background-color: rgba(204, 255, 255, 0.5);
	writing-mode: horizontal-tb;
	text-align: center;
	top: 5px;
	border-radius: 5px;
}
#container {
	background-color: rgba(200, 200, 200, 0.85);
	margin-top: 38px;
	margin-bottom: 5px;
	flex-direction: column;
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	width: 670px;
	height: 840px;
	padding: 5px;
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
}
#hyodai {
	width: 80px;
	height: 300px;
	background-color: rgba(250, 250, 200, 0.5);
	display: flex;
}
#hiduke {
	float: right;
	background-color: rgba(250, 250, 250, 0.5);
	writing-mode: horizontal-tb;
	text-align: center;
	padding: 8px;
	margin: 4px;
}
#daiji {
	/*height: 200px;*/
	font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
	font-size: 40px;
	margin: 20px 6px;
}
.midashi-a {
	column-span: all;
	font-size: 25px;
	font-weight: bold;
	padding: 2px 3px;
}
.yonkoma {
	width: 120px;
	height:400px;
	column-span: all;
	background-color:white;
	margin: 0 7px 1px 0;
}
.yonkoma img {
	height: 400px;
}
.article {
	column-count: 2;
	height: 400px;
	column-rule: 1px solid #333;
	column-gap: 15px;
	text-align: justify;
	margin-bottom: 10px;
	padding-top: 2px;
	text-orientation: upright;
}
.yoko {
	text-combine-upright: all;
}
.eigo {
	text-orientation: upright;
}
.big {
	font-size: 20px;
	font-weight: bold;	
}
.question {
	margin-top: 1em;
	text-indent: -1em;
}

@media screen and (max-width:600px) {
	.article {
		font-size: 3.5vw;
	}
}
